@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;500&family=Noto+Sans:wght@300&display=swap');

body {
  background: red;
}

h1, h2, h3 {
  font-family: 'Epilogue', sans-serif;
  color: aqua;
}

/* .seattle {
  font-family: 'Noto Sans', sans-serif;
  color: antiquewhite;
}

text {
  font-family: 'Epilogue', sans-serif;
  color: bisque;
} */