@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;500&family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Montserrat:wght@200&display=swap');

#threeFish {
  opacity: .5;
  position: absolute;
  z-index: -1;
  background-image: url('../img/fish.jpg');
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
}

header {
  background-image: url(../img/salmon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: tomato;
  border-left: 10px solid white;
  border-right: 10px solid white;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

h2, h3 {
  font-family: 'Epilogue', sans-serif;
  color: floralwhite;
}

.mainTitle {
  /* https://dev.to/codingdudecom/everything-about-stroke-text-in-css-561i */
  -webkit-text-stroke:1px blanchedalmond;
  -webkit-text-fill-color:orangered;
  font-size: 40pt;
  font-family: 'Epilogue', sans-serif;
  color: floralwhite;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 25pt;
  align-items: center;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 2%;
}

a {
  text-decoration: none;
  color: antiquewhite;
  outline: auto;
  outline-color: teal;
}

/* a:visited {
 color: goldenrod;
} */

a:hover {
color: aqua;
}

body {
  background: rgba(250, 128, 114, 0.593);
  text-align: center;
  line-height: 1;
  font-size: 1.5vw;
  }

  .intro {
    font-family: 'Epilogue', sans-serif;
    -webkit-text-stroke:1px orangered;
    -webkit-text-fill-color: black;
    font-weight: 580;
    font-family: 'EB Garamond', serif;
  }

  .contact {
  display: flex;
  flex-direction: column;
  }

  .introBox {
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-top: 2em;
  flex-direction: row;
  display: flex;
  }

  .introText {
  line-height: 2.5;
  margin-top: 1em;
  margin-left: .3em;
  width: 50%;
  text-align: left;
  font-size: larger;
  
  }

  .family {
  height: 90%;
  width: 90%;
  margin-top: .5em;
  border-radius: 8px;
  border: 15px solid bisque;
  border-radius: 4px;
  }

  .contact {
  display: inline-block;
  } 

  .allContact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  }

  .cityInfo {
  line-height: 4em;
  font-size: 20pt;
  }

  .contactInfo {
  font-size: 10pt;
  }

  .seattle {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 5px solid #f1f1f1;
  perspective: 175px; 
  }
  .seattleInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  }
  .seattle:hover .seattleInner {
  transform: rotateY(180deg);
  }
  .seattleFront, .seattleBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  }
  .seattleFront {
  background-image: url(../img/frosted-cookie.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: tomato;
  background-blend-mode: difference;
  }
  .seattleBack {
  background-color: tomato;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  .seattleContact {
  font-size: smaller;
  } 

  .tokyo {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 5px solid #f1f1f1;
  perspective: 175px; 
  }
  .tokyoInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  }
  .tokyo:hover .tokyoInner {
  transform: rotateY(180deg);
  }
  .tokyoFront, .tokyoBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  }
  .tokyoFront {
  background-color: tomato;
  background-image: url(../img/cutter.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: difference;
  
  }
  .tokyoBack {
  background-color: tomato;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  .tokyoContact {
  font-size: smaller;
  }

  .dubai {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 5px solid #f1f1f1;
  perspective: 175px; 
  }
  .dubaiInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  }
  .dubai:hover .dubaiInner {
  transform: rotateY(180deg);
  }
  .dubaiFront, .dubaiBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  }
  .dubaiFront {
  background-color: tomato;
  background-image: url(../img/chinook.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: difference;

  }
  .dubaiBack {
  background-color: tomato;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  .dubaiContact {
  font-size: smaller;
  } 

  .paris {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 5px solid #f1f1f1;
  perspective: 175px; 
  }
  .parisInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  }
  .paris:hover .parisInner {
  transform: rotateY(180deg);
  }
  .parisFront, .parisBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  }
  .parisFront {
  background-color: tomato;
  background-image: url(../img/shirt.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: difference;

  }
  .parisBack {
  background-color: tomato;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  .parisContact {
  font-size: smaller;
  }


  .lima {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 5px solid #f1f1f1;
  perspective: 175px; 
  }
  .limaInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  }
  .lima:hover .limaInner {
  transform: rotateY(180deg);
  }
  .limaFront, .limaBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  }
  .limaFront {
  background-color: tomato;
  background-image: url(../img/fish.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: difference;
  }
  .limaBack {
  background-color: tomato;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  .limaContact {
  font-size: smaller;
  }

  table {
  border: 10px solid;
  color: brown;
  font-family: 'Noto Sans', sans-serif;
  margin: 2em;
  position: relative;
  display: inline-block;
  line-height: 2;
  padding: 2em;
  }

  td, th {
  border: 4px solid;
  line-height: 2;
  background-color: lightcoral;
  }

  td.location {
    font-weight: bolder;
    color: whitesmoke;
    border-color: brown;
  }

  td.hours {
    font-weight: bolder;
    color: wheat;
    border-color: brown;
  }

  th.hourlyTotal {
    font-weight: bolder;
    color: whitesmoke;
    border-color: brown;
  }

  th.hourTotal {
    font-weight: bold;
    color: wheat;
    border-color: brown;
  }

td.dailyTotal {
  font-weight: bold;
    color: whitesmoke;
    border-color: brown;
}

th.grandTotal {
  font-weight: bold;
    color: whitesmoke;
    border-color: brown;
}

td.nums {
    color: floralwhite;
    border-color: brown;
    font-family: 'Montserrat', sans-serif;
}

td {
  font-weight: bold;
    color: wheat;
    border-color: brown;
}

th {
  font-weight: bold;
    color: wheat;
    border-color: brown;
}
  
  fieldset {
    flex-direction: row;
    font-size: 15pt;
    color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #newTitle {
    font-size: 30pt;
  }
  
#button {
  background-color: darksalmon;
  border: 5px solid blanchedalmond;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

label {
  padding: .4em;
}

.copyR {
  color: whitesmoke;
}